.callout {
  border-left: 4px solid #2980b9;
  border-top: 0.5px solid #2980b9;
  border-bottom: 0.5px solid #2980b9;
  border-right: 0.5px solid #2980b9;
  background-color: white;
  border-radius: 8px;
  font-family: system-ui, sans-serif;
  color: #2c3e50;
  margin: 1em 0;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.callout-header {
  display: flex;
  align-items: center;
  background-color: #e8f0fe;
  padding: 0.2em 0.2em;
  font-weight: bold;
  border-bottom: 1px solid #d0e2f2;
}

#box-text {
  margin-bottom: 0em;
}

.callout-icon-container {
  margin-right: 0.5em;
  color: #2980b9;
}

.callout-icon::before {
  content: "i";
  font-weight: bold;
  font-style: normal;
  font-family: Georgia, serif;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
}

.callout-title-container {
  font-size: 1em;
}

.callout-body {
  padding: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.callout-body code {
  background-color: white;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-family: Consolas, monospace;
  font-size: 0.9em;
  font-weight: bold;
}
